@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  transition:all .2s linear;
  font-family: 'Raleway', sans-serif;
}

:root{
  --bg-color: #1B1716;
  --second-bg-color: #211B1B;
  --text-color: #ffffff;
  --main-color: #D97904;
}

html{
  font-size: 65%;
  /* overflow: hidden; */
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

section{
  padding: 10rem 9% 2rem;
}

section:nth-child(odd){
  background: var(--second-bg-color);
}

span{
  color: var(--main-color);
}

.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .6rem;
  font-weight: 700;
  transition: 0.5s ease;
}

.btn:hover{
  background: var(--text-color);
}


/* HEADER & NAVBAR */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100; 
}

.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bold;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 3rem;
}

.navbar a:hover, .navbar a.active {
  color: var(--main-color);
}

#menu-icon{
  font-size: 3.5rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}


/* HOME SECTION */
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0;
  min-height: 100vh;
}
.home-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
}
.home-content h3{
  font-size: 3.2rem;
  font-weight: 300;
}
.home-content h1{
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}


/* SERVICES SECTION */
.heading{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4.3rem;
}

.service-grid-item h3{
  font-size: 2rem;
}
.service-grid-item p{
  font-size: 1.2rem;
}

.service-grid-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

/* .service-grid-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.service-grid-container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
} */

.service-grid-item{
  background-color: var(--second-bg-color);
  border: 1px solid var(--main-color);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.service-grid-item:nth-child(1){
  grid-column: -7 / span 3;
  grid-row: span 2;
}

.service-grid-item:nth-child(9) {
  grid-row: span 2;
  grid-column: span 4;
}

.service-grid-item:nth-child(8),
.service-grid-item:nth-child(10) {
  grid-column: span 2;
}

.imgContainer{
  aspect-ratio: 3 / 2;
  padding: 0;
}
.service-grid-item h3{
  margin-bottom: 2rem;
}
.service-grid-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* PROJECT SECTION */
.project-gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.5rem;
}

.project-gallery-item{
  background-color: var(--second-bg-color);
  border: 1px solid var(--main-color);
  height: fit-content;
  aspect-ratio: 2 / 1;
}

.project-gallery-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* CONTACT SECTION */
.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6 rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input-box input{
  width: 49%;
}

.contact form textarea{
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.success{
  background-color: rgba(132, 240, 99, 0.5);
  color: rgb(14, 245, 34);
  animation: status 4s ease forwards;
}
.error{
  background-color: rgba(240, 99, 99, 0.5);
  color: rgb(126, 0, 0);
  animation: status 4s ease forwards;
}


/* Footer */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text{
  font-size: 1.6rem;
}

.footer-icon-top a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-icon-top a:hover{
  background: var(--text-color);
}

.footer-icon-top a i{
  font-size: 2rem;
  color: var(--second-bg-color);
}


/* MEDIA QUERIES AND BREAKPOINTS */
@media screen and (max-width: 1200px){
  html{
    font-size: 55%;
  }
}

@media screen and (max-width: 991px){
  .header{
    padding: 2rem 3%;
  }

  section{
    padding: 10rem 3% 2rem;
  }

  .services{
    padding-bottom: 7rem;
  }
  .footer{
    padding: 2rem 3%;
  }
}

@media screen and (max-width: 768px){
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  .navbar.active{
    display: block;
  }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home-content h3{
    font-size: 2.6rem;
  }

  .home-content h1{
    font-size: 5rem;
  }

  .service-grid-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 3.6rem;
    padding-bottom: 3.6rem;
  }

  .service-grid-item{
    border: none;
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
  }


}